.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  gap: 12px;
}

.api-card {
  padding: 16px;
  border-radius: 8px;
  background: #000000;
  color: #fff;
}

.up {
  color: #00ff88;
}

.down {
  color: #ff4d4d;
}
#log_btn{
    width: 100%;
    background-color: rgb(239, 140, 2);
    border-radius: 8px;
    cursor: pointer;
}